*{
    user-select: none;
    background-color: aqua;
}
body,html{
    margin: 0;
    padding: 0;
}
.outer{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    background: linear-gradient(to bottom,blue,yellow);
    transition: background ease-in-out 5s;
    transition: border-radius ease-in-out 1s;
}
.row1,.row2,.row3{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}
span{
    border-radius: 10px;

    height: 100%;
    width: 150px;
    border: 2px solid black;
    background:linear-gradient(to bottom,rgb(122, 71, 71),brown);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    cursor: pointer;
    /* transition: background ease-in-out 1s; */
    /* transition: ; */
}
.b9{
    /* background-color: black; */
    background: black;
    transition: background ease-in-out 1s;

    
}
.start{
    width: 100px;
    height: 50px;
    border: 5px solid blueviolet;
    background:linear-gradient(to bottom,blue,orange);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    /* font-size: xx-large; */

}